.product-list {
  padding: 16px;
}

.product-item {
  margin: 20px;
}

.cart-item img {
  height: 100px;
  width: 80px;
}

@media screen and (min-width: 800px) {
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media screen and (min-width: 1048px) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
